In [12]:
import os
import csv

In [29]:
csvpath = os.path.join('budget_data.csv')
PyBank_txt_path = os.path.join('PyBank_txt_results.txt')

In [14]:
with open(csvpath, "r") as csvfile:
    csvreader = csv.reader(csvfile, delimiter=',')

    csv_header = next(csvreader)
    total_months= 1
    profit = 867884
    first_row = next(csvreader)
    previous_row = int(first_row[1])
    change_list =[]   
    dict_budget = {}


    for row in csvreader:
        total_months +=1
        profit += int(row[1])
        change=int(row[1])-previous_row
        previous_row = int(row[1])
        change_list.append(change)
        dict_budget[row[0]] = change
        #print(row)
        #print(change)
        print(profit)

1852539
2174552
2105135
2415638
2938495
3971591
4576476
4360090
4837622
5731432
5651079
6430885
6095682
6793527
7586690
8071760
8655882
8718611
9386790
10286696
11121415
11253418
11563396
10807830
11978423
12231211
13382729
14199985
14770742
15277444
14254910
14729972
15509948
15654123
16196617
16555950
16877419
16945199
17416634
17982237
18854717
19644197
20644139
19447914
19716911
19028925
20179386
20861844
21479700
22303798
22885741
23018605
23466667
24155828
24956529
26123172
27070505
27649173
28637678
29777393
30806864
31494397
30969771
31128391
31216186
31639575
32480298
33048827
33380894
34370393
35148630
35798630
34698243
34523297
35280440
35726149
36439110
35275313
35845212
36613662
36716347
37512261
37573249
37711479
38382578

In [15]:
# Print total months
print(total_months)

86

In [16]:
#Total of Profit and losses           
print(profit)

38382578

In [17]:
# Print net change
net_change = sum(change_list)/len(change_list)
print(net_change)

-2315.1176470588234

In [18]:
#Print max profit
max_profit =max(change_list)
print(max_profit)

1926159

In [19]:
#Find the Min value of profit
min_profit =min(change_list)
print(min_profit)

-2196167

In [20]:
# Check we have the dictionary correctly
print(dict_budget)

{'Feb-10': 116771, 'Mar-10': -662642, 'Apr-10': -391430, 'May-10': 379920, 'Jun-10': 212354, 'Jul-10': 510239, 'Aug-10': -428211, 'Sep-10': -821271, 'Oct-10': 693918, 'Nov-10': 416278, 'Dec-10': -974163, 'Jan-11': 860159, 'Feb-11': -1115009, 'Mar-11': 1033048, 'Apr-11': 95318, 'May-11': -308093, 'Jun-11': 99052, 'Jul-11': -521393, 'Aug-11': 605450, 'Sep-11': 231727, 'Oct-11': -65187, 'Nov-11': -702716, 'Dec-11': 177975, 'Jan-12': -1065544, 'Feb-12': 1926159, 'Mar-12': -917805, 'Apr-12': 898730, 'May-12': -334262, 'Jun-12': -246499, 'Jul-12': -64055, 'Aug-12': -1529236, 'Sep-12': 1497596, 'Oct-12': 304914, 'Nov-12': -635801, 'Dec-12': 398319, 'Jan-13': -183161, 'Feb-13': -37864, 'Mar-13': -253689, 'Apr-13': 403655, 'May-13': 94168, 'Jun-13': 306877, 'Jul-13': -83000, 'Aug-13': 210462, 'Sep-13': -2196167, 'Oct-13': 1465222, 'Nov-13': -956983, 'Dec-13': 1838447, 'Jan-14': -468003, 'Feb-14': -64602, 'Mar-14': 206242, 'Apr-14': -242155, 'May-14': -449079, 'Jun-14': 315198, 'Jul-14': 241099, 'Aug-14': 111540, 'Sep-14': 365942, 'Oct-14': -219310, 'Nov-14': -368665, 'Dec-14': 409837, 'Jan-15': 151210, 'Feb-15': -110244, 'Mar-15': -341938, 'Apr-15': -1212159, 'May-15': 683246, 'Jun-15': -70825, 'Jul-15': 335594, 'Aug-15': 417334, 'Sep-15': -272194, 'Oct-15': -236462, 'Nov-15': 657432, 'Dec-15': -211262, 'Jan-16': -128237, 'Feb-16': -1750387, 'Mar-16': 925441, 'Apr-16': 932089, 'May-16': -311434, 'Jun-16': 267252, 'Jul-16': -1876758, 'Aug-16': 1733696, 'Sep-16': 198551, 'Oct-16': -665765, 'Nov-16': 693229, 'Dec-16': -734926, 'Jan-17': 77242, 'Feb-17': 532869}

In [21]:
# list out keys and values separately
key_list = list(dict_budget.keys())
val_list = list(dict_budget.values())
 
# print the greatest increase month
position1 = val_list.index(max_profit)
print(key_list[position1])

Feb-12

In [22]:
# print the greatest decrease month
position2 = val_list.index(min_profit)
print(key_list[position2])

Sep-13

In [23]:
print("Financial Analysis\n -----------------------\n Total Months: {}\n Total: ${}\n Average Change: ${:.2f}\n Greatest Increase in Profit: {} (${})\n Greatest Decrease in Profits: {} (${})".format(total_months,profit,net_change,key_list[position1],max_profit,key_list[position2],min_profit))

Financial Analysis
 -----------------------
 Total Months: 86
 Total: $38382578
 Average Change: $-2315.12
 Greatest Increase in Profit: Feb-12 ($1926159)
 Greatest Decrease in Profits: Sep-13 ($-2196167)

In [30]:
with open(PyBank_txt_path, "w") as txt_file:
    txt_file.write(" Financial Analysis\n -----------------------\n Total Months: 86 \n Total: $38382578\n Average Change: $-2315.12\n Greatest Increase in Profit: Feb-12 ($1926159)\n Greatest Decrease in Profits: Sep-13 ($-2196167)")